<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="/public/main.js"></script>
    <nav class="navbar ">
        <div class="container">
            <div class="navbar-header">
                <p class="navbar-brand"><b>P</b>ORTFOLIO.</p>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li  id="home"><a href="/" style="--i:1;">HOME</a></li>
                <li id="about"><a href="/about" style="--i:2;">ABOUT</a></li>
                <li id="contact"><a href="/skills" style="--i:3;">SKILLS</a></li>
                <li id="work"><a href="/projects" style="--i:4;">PROJECTS</a></li>
                <li id="work"><a href="/education" style="--i:5;">EDUCATION</a></li>
                <li id="work"><a href="/contact" style="--i:6;">CONTACT</a></li>
            </ul>
        </div>
    </nav>
</head>
<body>
    <div class="mainpage">
