<%-include("partials/header")-%>
<h1 class="top-about">ABOUT ME</h1>

<div class="about-parent">

   
    <div class="aboutchild2">
        <img class="about-image"src="/imagges.png" alt="profile ">

    </div>
    <div class="aboutchild2">
        
    <h3>Full stack Web Designer</h3>
    
    <p class="about-p">
        I'm a full stack web developer having experience of web application using  html,css,bootstrap,JavaScript, 
        and  frameworks like React, Node.js. I'm a quick
        learner and collaborate closely with clients to create efficient,
        scalable, and user-friendly solutions that solve real-world problems.
        Let's work together to bring your ideas to life!
    </p>
     
    <a href="/contact"><button type="button" class="btn   btn-outline btn-danger ">Contact</button>  </a>
    

    </div>

    
</div>
<%-include("partials/footer")-%>