<%-include("partials/header")-%>
<h1 class="top-skill">EDUCATION</h1>
<div class="edu-parent">
    <div class="edu-child">
        <div class="edu-year">
            <h3 class="edu-name">Btech(Computer Science)</h3>
            <h3>2021-2025</h3>
        </div>
    <p>Madan Mohan Malviya University of Technology</p>
    <p>Gorakhpur,uttar Pradesh,India</p>
    <h4>75.8%</h4>
    </div>
    <div class="edu-child">
        <div class="edu-year">
            <h3 class="edu-name">Intermediate</h3>
            <h3>2021</h3>
        </div>
        <p>Saraswati Balika Vidyalaya Senior Secondary School</p>
        <p>Gorakhpur,uttar Pradesh,India</p>
        <h4>95.6%</h4>
        
        
    </div>
    <div class="edu-child">
        <div class="edu-year">
            <h3 class="edu-name">Highschool</h3>
            <h3>2019</h3>
        </div>
        <p>Saraswati Balika Vidyalaya Senior Secondary School</p>
        <p>Gorakhpur,uttar Pradesh,India</p>
        <h4>93.6%</h4>
        
       
    </div>
</div>

<%-include("partials/footer")-%>