<%-include("partials/header")-%>

<div class="homeparent">
    <div class="homechild1">    
        <div class="info"> 
        <h3 class="hello">Hello! It's </h3>
     <h1>Palak Jaiswal</h1>
     <h3 class="skill">I am a <span class="multiple-text"></span></h3>
     <p>A small galary of recent projects  chosen by me , educational qualification and skills.I have done them 
        to get command over my skills.It's only a drop in ocean compared to entire list.
     
     </p>
     <a href="/contact">
     <button id="homebtn"class="btn btn-lg btn-danger">Contact</button>   
    </a>
    </div>
</div> 
    <div class="homechild2">
        <img class="profile"src="/imagges.png" alt="profile ">

    </div>
</div>

<%-include("partials/footer")-%>