<%-include("partials/header")-%>
<h1 class="top-about">PROJECTS</h1>
<div class="project-parent">
<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="card">
            <div class="card-body">
              <h3 class="card-title">Weather App</h3>
             
              <p class="card-text">A single page web app using html css and javascript which fetch data from API 
                and forecast the current weather information using device location or by input city name.
              </p>
              <a href=" https://palak-jais.github.io/weatherApp.github.io/"><button type="button" class="btn btn-block  btn-danger project-btn">VIEW</button></a>
             
            </div>
          </div>

    </div>
    <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="card">
            <div class="card-body">
              <h3 class="card-title">Air Quality App</h3>
              <p class="card-text">A web app using html css and javascript which fetch data from API 
                and examine the current air quality by device location or by input city name.
              </p>
              <a href=" https://palak-jais.github.io/AirPollution.github.io/"><button type="button" class="btn btn-block  btn-danger project-btn">VIEW</button></a>
            
            </div>
          </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="card">
            <div class="card-body">
              <h3 class="card-title">Music App</h3>
              <p class="card-text">A single page web app using html css and javascript,it is fully responsive and play music which provided in object having menu toggle back and next option.
              </p>
              <footer>
              <a href=" https://palak-jais.github.io/MusicApp.github.io/"><button type="button" class="btn btn-block  btn-danger project-btn">VIEW</button></a>
            </footer>
            </div>
          </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="card">
            <div class="card-body">
              <h3 class="card-title">Diary App</h3>
              <p class="card-text">full-stack website using html css bootstrap  javascript node.js mongodb and ejs templating
                which is a personal diary for writing daily experiences and memories.
              </p>
              <a  href="https://palak-jais-diary.onrender.com"><button type="button" class="btn btn-block  btn-danger project-btn">VIEW</button></a>
            </div>
          </div>
    </div>
  
    <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="card">
            <div class="card-body">
              <h3 class="card-title">Ecommerce</h3>
             
              <p class="card-text">A full-stack and responsive real world Ecommerce site using React Mongodb Node and Express with user authentication .
              </p>
              <a href="https://average-slug-sheath-dress.cyclic.app/"><button type="button" class="btn btn-block  btn-danger project-btn">VIEW</button></a>
             
            </div>
          </div>

    </div>
    
    
  </div>

</div>
<%-include("partials/footer")-%>