<%-include("partials/header")-%>
<h1 class="top-skill">MY SKILLS</h1>
<div class="skill-parent">

    <div class="skillchild1">
    
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="card">
                    <div class="card-body">
                      <h3 class="card-title">Frontend Skills</h3>
                     
                      <p class="card-text">I have knowledge of HTML CSS and JAVASCRIPT and 
                        i had made single page responsive web apps using APIs.
                      </p>
                     
                    </div>
                  </div>

            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="card">
                    <div class="card-body">
                      <h3 class="card-title">Backend Skills</h3>
                     
                      <p class="card-text">I have knowledge of Node.js and its famous libraries like express
                        and also know about database specially mongodb and made full-stack multipage projects.
                      </p>
                    
                    </div>
                  </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="card">
                    <div class="card-body">
                      <h3 class="card-title">Frameworks</h3>
                      <p class="card-text">I have knowledge of some famous templating like ejs and famous frameworks like bootstrap and react
                        and made a full-stack ecommerce website using react.
                      </p>
                      
                    </div>
                  </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="card">
                    <div class="card-body">
                      <h3 class="card-title">Programming Skills</h3>
                      <p class="card-text">I have knowledge of c++  language and data structure and algorithms in c++.</p>
                     
                    </div>
                  </div>
            </div>
          </div>
        
    </div>
    <div class="skillchild2">

      <div class="skill-icon">
        <i class="fa-brands fa-html5"></i>
    <i class="fa-brands fa-css3"></i>
    <i class="fa-brands fa-square-js"></i>
    <i class="fa-brands fa-bootstrap"></i>
    <i class="fa-brands fa-node-js"></i>
    <i class="fa-brands fa-react"></i>

      </div>
      <div class="skill-progress">

          <div class="progress">
            
            <div class="progress-bar bg-dark"  style="width:95%">
           
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-danger" style="width:90%">
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-danger" style="width:75%">
              
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-success" style="width:80%">
              
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-danger" style="width:75%">
              
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-dark"  style="width:70%">
              
            </div>
          </div>
        </div>
        </div>

  
    
    
</div>
<%-include("partials/footer")-%>